.container4 {
    margin-top: 100px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.section1-4 {
    left: 100px;
    position: absolute;
    margin-top: 150px;
    width: 400px;
}

.section2-4 img {
    width: 1200px;
    margin-left: 250px;
}

@media screen and (max-width: 1199px) {
    .section2-4{
        display: none;
    }

    .section1-4 {
        position: static;
        margin-top: 15px;
    }

    .container4 {
        margin-top: 15px;
        margin-left: 10%;
        margin-right: 10%;
    }
  }